# Lists and Tuples <hr style="border:2.5px solid rgb(28, 75, 147)"></hr>

<b>Sidney Louise G. Monillo</b>
<br><i>Computer Engineer/Technician</i>

# Iterating Over a List

In [26]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for n in numbers:
    if n%2 == 0:
        print(n)

2
4
6
8
10

In [27]:
# List Comprehension
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
results = [n for n in numbers if n%2==0]
results

[2, 4, 6, 8, 10]

# Iterating Over a Dictionary

In [28]:
for char in "Sidney":
    print(char)

S
i
d
n
e
y

In [29]:
# key-value pair
employee = { 'name' : ['Sidney', 'Rica'],
             'position' :['analyst', 'developer'],
             'salary' :['100000','200000']
            }

for key in employee:
    print(key)

name
position
salary

In [30]:
employee['salary']

['100000', '200000']

In [31]:
for value in employee.values():
    print(value)

['Sidney', 'Rica']
['analyst', 'developer']
['100000', '200000']

# Lambda Function

In [32]:
def mul_by_2(x):
    x = 2*x
    return x

mul_by_2(4)

8

In [33]:
y = 4

x = (lambda x : 2*x)(y)
x

8

In [34]:
type(x)

int